<%=form_with model: @movie,url: "/admin/movies" do |f|%>
<%= f.label :name,"タイトル"  , class: "form-label"%>
<%= f.text_field :name ,value:@movie.name , class: "form-control"%>
<br>
<%= f.label :year,"公開年"  , class: "form-label"%>
<%= f.text_field :year,value:@movie.year , class: "form-control"%>
<br>
<%= f.label :description ,"詳細", class: "form-label"%>
<%= f.text_area :description,value:@movie.description  , class: "form-control"%>
<br>
<%= f.label :image_url ,"画像URL", class: "form-label"%>
<%= f.text_field :image_url,value:@movie.image_url  , class: "form-control"%>
<br>
<div class="form-check form-switch">
  <%=f.check_box :is_showing,value:@movie.is_showing , class: "form-check-input"%>
  <%= f.label :is_showing ,"公開中", class: "form-check-label"%>
</div>
<br>
<%= f.submit class: "btn btn-primary"%>
<%end%>