<%=form_with model: @schedule,method: :put,url: "/schedules/#{@schedule.id}" do |f|%>
<h2><%=@schedule.movie_id%></h2>
<h2><%=@schedule.movie.name%></h2>
<%=f.label "開始時刻"%>
<%=f.datetime_select  :start_time,use_month_numbers: true ,default: @schedule.start_time%>
<%=@schedule.start_time.time %>
<br>
<%=f.label "終了時刻" %>
<%=f.datetime_select :end_time ,use_month_numbers: true,default: @schedule.end_time%>
<br>
<%= f.submit class: "btn btn-primary"%>
<%end%>