<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>movies_id</th>
      <th>開始時刻</th>
      <th>終了時刻</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <%@schedules.each do |schedule|%>
    <tr>
      <td><%=link_to schedule.id ,url: "/admin/schedules/#{schedule.id}" %></td>
      <td><%= schedule.movie.name %></td>
      <td><%= schedule.movie_id %></td>
      <td><%= schedule.start_time %></td>
      <td><%= schedule.end_time %></td>
      <td><%= schedule.created_at %></td>
      <td><%= schedule.updated_at %></td>
    </tr>
    <%end%>
  </tbody>
</table>